body{
    background-color: #EFF1FA;
}

header {
    text-align: center;
    padding: 5em;
}
.tituloPrincipal {
    font-family: "Kode Mono", monospace;
    width: 100%;
    font-weight:700;
    font-size: 4em;
    color: #0a3871;
    text-decoration: none;
}

                                    /* ingreso*/
textarea{
    border: none;
    outline: none;
    border-radius: 15px;
    
}
.encriptar{
    display: inline-block;
    width: 40%;
    text-align: center;
}
.texto-encriptar textarea{
    width: 80%;
    height: 18em;
    padding: 1em 1.5em;
}

.texto-encriptar textarea:focus, .texto-encriptar textarea:active, .texto-encriptar textarea{
    font-size: 20px;
    color:#0A3871;
    background-color: #F3F5FC;
    resize: none;
    word-break:break-all;
}




.botones-encriptado {
    padding: 1em;
}

.boton-encriptar, .boton-copiar{
    background-color: #0a3871;
    border: none;
    color: white;
    width: 12em;
    cursor: pointer;
    padding: 1em 1.5em;
    margin: 0 1em;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.boton-desencriptar{
    background-color: #d8dfe8;
    display: inline-block;
    border: none;
    color: #0a3871;
    width: 12em;
    cursor: pointer;
    padding: 1em 2em;
    margin: 0 1em;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    border-radius: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.boton-encriptar:hover,  .boton-desencriptar:hover, .boton-copiar:hover{
    transition: 1s;
    transform: scale(1.1);

}
.boton-encriptar:not(hover), .boton-desencriptar:not(hover), .boton-copiar:not(hover){
    transition: 1s;
    transform: scale(1);
    
}

.boton-encriptar:active, .boton-copiar:active{
    transition: 5ms;
    box-shadow: 0 -10px 10px 0 rgba(0,0,0,0.5);
    background-color: #d8dfe8;
    color: #0a3871;
}
.boton-desencriptar:active{
    transition: 5ms;
    box-shadow: 0 -10px 10px 0 rgba(0,0,0,0.5);
    background-color: #0a3871;
    color: white;
}
                                    /* fin ingreso */

                                    /* egreso */

/* sin mensaje a ecriptar */
.sndesencriptado{

    display: inline-block;
    width: 30%;
    background-color: #ffffff;
    border-color: #052051;
    border-radius: 10px;
}

.sndesencriptado .imgnigma {
    width: 50%;
    padding: 3em;
}
.sndesencriptado p, .sndesencriptado h1{
    text-align: center;
    margin: 0 1em 2em
}

.sndesencriptado h1{
    font-size: 2em;
    color: black;
    }

.msj-sintexto{
    font-size: 1.5em;
    color:#495057;
}

/* fin sin mensaje a encriptar */

/*seccion desencriptado con texto*/

.desencriptado{
    display: none;

    width: 30%;
    text-align: center;
}

.texto-desencriptar textarea {
    width: 80%;
    height: 28em;
    padding: 1em 1.5em;
}

.texto-desencriptar textarea:focus, .texto-desencriptar textarea:active, .texto-desencriptar textarea{
    resize: none;
    word-break:break-all;
}


.botones-copiar{
    padding: 1em;
}

                                    /*fin egreso*/

                                    /* footer */
footer {
    text-align: center;
    padding: 40px;
}

.separador {
    border: 0;
    border-top: 2px solid #609ED4;
    border-bottom: 2px solid #052051;
    height: 0;
}

.logoJconivit {
    margin-top: 1em;
    width: 100px;
}

.logoJconivit:hover {
    transition: 1s all;
    transform: scale(1.1) rotate(-1deg)
}

.logoJconivit:not(hover) {
    transition: 1s;
    transform: scale(1) rotate(1deg)
}

.nombreJconivit {
    font-size: 1.5em;
    padding: 10px;
    border-radius: 10px
}

                                    /* fin footer*/


                                    /*Responsive*/

@media screen and (max-width:768px){
    .boton-copiar{
    margin-top: 3em;
}
}

@media screen and (max-width:480px){    
    header {
        padding: 1em;
    }
    .tituloPrincipal{
        font-size: 4em;
        font-weight: 700;
        width: 90%;
    }

.encriptar, .sndesencriptado, header, footer{
    box-sizing: border-box;
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto; 
    }

}