header {
    margin-left: 240px;
    text-align: center;
    padding: 20px;
}
body{
    background-color: #EFF1FA;
}


.tituloPrincipal {
    width: 60%;
    font-weight: bold;
    font-size: 50px;
    text-decoration: none;
}

.ingreso {
    display: inline-block;
    width: 60%;

    margin: 240px;

}
.ingresoTexto{
    border:none;
    font-size: 20px;
    color:#0A3871;
    background-color: #F3F5FC;
    resize: none;
    


    
}


footer {
    text-align: center;
    padding: 40px;
}

.separador {
    border: 0;
    border-top: 2px solid #609ED4;
    border-bottom: 2px solid #052051;
    height: 0;
}

.logoJconivit {
    margin-top: 1em;
    width: 100px;
}

.logoJconivit:hover {
    transition: 1s all;
    transform: scale(1.1) rotate(-1deg)
}

.logoJconivit:not(hover) {
    transition: 1s;
    transform: scale(1) rotate(1deg)
}

.nombreJconivit {
    font-size: 1.5em;
    padding: 10px;
}